@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;        
}

.relogio div {
    height: 170px;
    width: 150px;
    background-color: #45A4C2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 10px;
    letter-spacing: 3px;
}
.relogio span {
    font-weight: bold;
    font-size: 6em;
}

.relogio span.tempo {
    font-size: 1.3em;
}